/*

 G E N E R A L   S T Y L E S

*/
*{
    font-family: monospace;
    color: #FFF;
    scroll-behavior: smooth;
}
:root{
    --back-color: #0f0f0f;
    --primary-color: #96cadf;
    --secondary-color: #151515;
    --tertiary-color: #d8d8d8;
    --nav-bar-height: 6vh;
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}
/*

 N A V B A R

*/
nav{
    z-index: 1;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: var(--nav-bar-height);
    padding: 0 2em;
    color: #FFF;
    background-color: #1111;
    box-shadow: 0px -30px 40px 20px #666;
    
}
.navbar-in-top{
    backdrop-filter: blur(20px);
    transition: 1s background-color;
}
.navbar-scrolled{
    transition: 1s background-color;
    background-color: rgb(0, 0, 0);
}
nav > h1{
    margin: 0;
    letter-spacing: .2em;
    font-size: 2.5em;
}
nav > ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    margin-left: auto;
    height: 100%;
    width: 60%;
}
.nav_item{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    flex-basis: 100px;
    flex-grow: 1;
    margin: 0 .3em;
    background-color: transparent;
    border: rgba(255, 255, 255, 0.1) 0px solid;
    font-size: 1.5em;
    text-decoration: none;
    transition-duration: .2s;
    transition-property: background-color border;
}
.nav_item > *{
    display: inline;
}

/* E F F E C T S*/

.nav_item:hover{
    cursor: pointer;
    box-sizing: border-box;
    transition-duration: .2s;
    transition-property: background-color border;
    background-color: #333;
    border: rgba(255, 255, 255, 0.1) 1px solid;
}
/*

B U T T O N S  N A V (CONFIG)

*/
#config_page{
    z-index: 1;
    display: flex;
    width: 10vw;
    height: 4vh;
    position: fixed;
    top: 8vh;
    right: -8.5vw;
    border-radius: 1em 0em 0em 1em;
    border: none;
    background-color: #1111;
    overflow: hidden;
    transition-property: all;
    transition-duration: 1.5s !important;
    transition-timing-function: cubic-bezier(0, 0.77, 0.13, 1.18);
}
.config_page-scrolled{
    transition-duration: 1.5s !important;
    transition-property: background-color !important;
    background-color: #000 !important;
}
.config_page-open{
    transition: 0.6s right !important;
    transition-timing-function: cubic-bezier(0, 0.77, 0.13, 1.18) !important;
    right: 0 !important;
}
#config_page > *{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
    flex-basis: 0;
    padding: 0;
    font-size: 1.8em;
    background-color: inherit;
    border: none;
    border-left: 2px solid rgba(255, 255, 255, 0.247);
    cursor: pointer;
}
#config_page-arrow{
    flex-grow: 1;
    border: none;
    color: #FFF;
}
#config_page-language > img{
    object-fit: contain;
    width: 80%;
}
/*

W E L C O M E    M E S S A G E

*/
#welcome_message{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    *height: calc(100vh - var(--nav-bar-height));
    height: 100vh;
    *margin-top: var(--nav-bar-height);
    *padding: 2em;
    *position: absolute;
}
#welcome_message > video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#welcome_message > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    height: 50vh;
    text-align: center;
}
.welcome_message_t1{
    font-size: 7em;
}
.welcome_message_t2{
    font-size: 5em;
}
#welcome_message_img{
    object-fit: contain;
    filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.213));
    width: 100%;
    height: 100%;
}
svg path{
    width: 100%;
    height: 100%;
}
/*

 M A I N - S E C T I O N S

*/
.main{
    min-height: 100vh;
    background-color: var(--back-color);
    padding: 1em;
    *box-shadow: inset 1px 1px 20px 10px rgba(172, 177, 255, 0.05);
}.sections{
    box-sizing: border-box;
    padding: 1em;
    
}
.sections_titles{
    padding: 0em 4em;
    margin: 3em 0em;
}
.sections_t1{
    font-size: 4rem;
    margin-bottom: .2em;
}
.sections_t2{
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 2em;
}

/*

 S E C T I O N S | P R O J E C T S 

*/

.sections_info-box{
    display: flex;
    justify-content: center;
    *flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
}
.sections_info-box > .item{
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    margin: 1em;
    min-width: 40vw;
    max-width: 60vw;
    height: 40vh;
    background-color: var(--secondary-color);
    border-radius: 2em;
    overflow: hidden;
    transition: transform 200ms ease-in-out;
}

.sections_info-box > .item > *{
    height: 100%;
    width: 40%;
    
}
.sections_info-box > .item > img{
    object-fit: cover;
    object-position: right;
    filter: grayscale(1);
    box-shadow: inset 0px 0px 20px 20px black;
    transition: filter 500ms ease-in-out;
}
.sections_info-box > .item > .texts{
    padding: 1em;
    flex-grow: 1;
} 
.sections_info-box > .item > .texts .texts-title{
    margin: .3em;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.6em;
} 
.sections_info-box > .item > .texts .texts-info{
    font-size: 1.2em;
    padding: 1em;
    box-sizing: border-box;
}

/* E F F E C T S*/
.sections_info-box > .item:hover{
    transform: scale(1.02);
}
.sections_info-box > .item:hover > img{
    filter: none;
}

/*

 S E C T I O N S | S K I L L S 

*/
.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}
.skills > .item{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 28vh;
    flex-basis: 0;
    flex-grow: 1;
    margin: 2em 0;
    padding: .2em;
}
.skills > .item > .titles{
    position: relative;
    font-size: 1.5rem;
    padding: .4em;
    letter-spacing: 10px;
    text-align: center;
    width: 100%;
}
.skills > .item > .titles::after{
    content: "";
    display: inline-block;
    height: 1px;
    background-color: #FFF;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 30%;
    transition: .3s margin;
}
.skills > .item > .titles:hover::after{
    margin: 0 20%;
}
.skills > .item > .technologies{
    display: flex;
    flex-direction: column;
    *background-color: #96cadf;
    flex-grow: 1;
    width: 100%;
}
.skills > .item > .technologies > .technologies-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 0;
    *flex-grow: 1;
    margin: 2em;
    *background-color: #333;
    box-sizing: border-box;
    text-align: center;
}
.technologies-item > span{
    margin-bottom: 1em;
    font-size: 1em;
}
.technologies-item > i{
    width: min-content;
    font-size: 3em;
    transition: .5s color;
}
i{
    cursor: pointer;
}
.technologies-item > .fa-html5:hover{
    color: orangered;
}
.technologies-item > .fa-css3-alt:hover{
    color: lightseagreen;
}
.technologies-item > .fa-square-js:hover{
    color: yellow;
}
.technologies-item > .fa-database:hover{
    color: lightsteelblue;
}
.technologies-item > .fa-php:hover{
    color: powderblue;
}
.technologies-item > .fa-python:hover{
    color: rgb(255, 196, 86);
}
.technologies-item > .fa-camera-retro:hover{
    color: rgb(78, 78, 235);
}
.technologies-item > .fa-film:hover{
    color: rgb(255, 135, 223);
}
.technologies-item > .fa-cube:hover{
    color: rgb(255, 160, 72);
}
.technologies-item > .fa-linux:hover{
    color: greenyellow;
}
.technologies-item > .fa-linux:hover{
    color: greenyellow;
}
.technologies-item > .fa-robot:hover{
    color: cornflowerblue;
}
/* path,g{
    width: 50px;
    height: 50px;
}
path{
    transition: 1s fill ease-in-out;
    fill: #777;
}
svg:hover path{
    fill: orangered;
    cursor: pointer;
}
.skills hr{
    margin: 2em;
    box-sizing: border-box;
} */

/*

 S E C T I O N S | A B O U T   M E 

*/

.about-me{
    background-color: var(--back-color);
}
svg{
    display: block;
    margin: 0;
    padding: 0;
}
.about-me > .content{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    min-height: 40vh;
    margin: 0;
    padding: 1.4em;
    box-sizing: border-box;
    background-color: #000;
}
.about-me > .content > *{
    flex-grow: 1;
    flex-basis: 0;
    padding: .5em;
}
.about-me > .content > .texts > .title{
    font-size: 3rem;
}
.about-me > .content > .texts > .biography{
    font-size: 2.4em;
}
.about-me > .content > img{
    flex-grow: 0;
    min-width: 30%;
    height: 100%;
    object-fit: contain;
}
.about-me > .studies{
    font-size: 2rem;
    letter-spacing: 10px;
    text-align: center;
    width: 100%;
}

/*

 S E C T I O N S | C O N T A C T   M E 

*/

.contact-me{

}
